#Ignore everything
*
#Descend into dirs
!*/

#Add back in .gitignore
!.gitignore

#Rules
!/BGCs/notebooks/**
!operons/SRA/notebooks/**
!operons/compare_tools/notebooks/**
!operons/notebooks/**
!covid/notebooks/**
!coevolution/notebooks/**
!epihiper/notebooks/**

!README.md

BGCs/notebooks/output
operons/SRA/notebooks/output
operons/compare_tools/notebooks/output
operons/notebooks/output
covid/notebooks/output

!BGCs/scripts/**
!operons/compare_tools/scripts/**
!operons/SRA/scripts/**
!operons/scripts/**
!genome_metadata/scripts/**
!covid/scripts/**
!coevolution/scripts/**
!epihiper/scripts/**

epihiper/scripts/logs
epihiper/notebooks/archive
epihiper/notebooks/msas

operons/scripts/coli

*.html
*.csv
*.png
*.tree
*.msa
*.out
*.sqlite

__pycache__/

#no checkpoints
.ipynb_checkpoints/

#exclude folders
test_ggs/
patric_genera/
async/

#no singularity images
*.sif
